* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #18041a, #160419, #150417, #130316, #110314, #100313, #0e0211, #0d0210, #0c010f, #0c010f, #0b000e, #0a000d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive;
    padding-top: 50px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to top, #240727, #240628, #250529, #25052a, #25042b, #23042a, #220429, #200428, #1d0425, #1a0321, #17031e, #14021a);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #cec8cf;
}

nav li img {
    height: 100%;
}

nav a:hover {
    background-image: linear-gradient(to top, #4a0651, #490651, #480652, #460652, #450653, #430652, #410550, #3f054f, #3c054c, #3a0449, #370447, #350444);
}

nav li:first-child {
    margin-right: auto;
    margin-left: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: -10px 0 10px rgba(18, 1, 1, 0.204);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu--button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu--button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
#aboutUsContent {
    color: white;
    font-size: 20px;

    width: 80%;

      width: 80%;

    margin: 0 auto;
    word-spacing: 8px;
}

button {
    padding: 1em 2em;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

button::after {
    content: '';
    position: absolute;
    height: 120%;
    width: 108%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cffc6, #e100ffc2);
    z-index: -1;
}

button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}

.header {
    margin-top: 10vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: header 1s ease-in-out infinite alternate;
    font-size: 80px;
}

@-webkit-keyframes header {
    from {
        text-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080;
    }
    to {
        text-shadow: 0 0 20px #9932CC, 0 0 30px #9932CC, 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC;
    }
}


#cardContainer {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Add spacing between cards */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: white;
    flex-direction: column;
    padding-bottom: 20px;
    display: flex; /* Ensure flexbox layout */
    justify-content: space-between; /* Ensure proper spacing within the card */
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .buttons {
    display: flex;
    justify-content: space-around; /* Align buttons in a row */
    margin-top: 0.5rem;
}

.card .buttons button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#contactUsContent {
    width: 50%; 
    margin: 0 auto;
    color: white;
    text-align: center;
}


#filterButtonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: -10px;
}

.filterOption {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    background-color: #444;
    color: white;
    cursor: pointer;
    margin-top: 5px; 
    width: auto;
    max-width: 150px; 
}

.filterOption:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    #filterButtonsContainer {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .filterOption {
        width: 100%;
        text-align: center;
    }
}


.exportButtons {
    display: flex;
    justify-content: space-between; 
    margin-top: 0.5rem;
}

.exportButtons button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-right: 0.5rem;
}

.exportButtons button:last-child {
    margin-right: 0; 
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
    margin-top: 90px; 
    margin-left: 40px;
    margin-right: 40px;
}

#searchInput {
    width: 60%; 
    padding: 1em 2em;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#searchInput::placeholder {
    color: #aaa;
}

#searchInput:focus {
    border: 1px solid #007bff;
    outline: none;
}


#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: #0056b3;
}

#pageInfo {
    margin: 0 10px;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    color: #000;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#startYearInput,
#endYearInput {
    width: auto; 
    padding: 6px; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


#orderBySelect {
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-right: 10px; 
}
