* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #18041a, #160419, #150417, #130316, #110314, #100313, #0e0211, #0d0210, #0c010f, #0c010f, #0b000e, #0a000d);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive;
    padding-top: 50px; /* Adăugăm un padding-top pentru a face spațiu pentru navbar */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to top, #240727, #240628, #250529, #25052a, #25042b, #23042a, #220429, #200428, #1d0425, #1a0321, #17031e, #14021a);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 999; /* Setăm un z-index mai mare */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #cec8cf;
}

nav li img {
    height: 100%;
}

nav a:hover {
    background-image: linear-gradient(to top, #4a0651, #490651, #480652, #460652, #450653, #430652, #410550, #3f054f, #3c054c, #3a0449, #370447, #350444);
}

nav li:first-child {
    margin-right: auto;
    margin-left: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: -10px 0 10px rgba(18, 1, 1, 0.204);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu--button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu--button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

button {
    left: 5%;
    top: 80px;
    padding: 1em 2em;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

button::after {
    content: '';
    position: absolute;
    height: 120%;
    width: 108%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cffc6, #e100ffc2);
    z-index: -1;
}

button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}

.header {
    margin-top: 10vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: header 1s ease-in-out infinite alternate;
    font-size: 80px;
}

@-webkit-keyframes header {
    from {
        text-shadow: 0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080, 0 0 60px #800080, 0 0 70px #800080;
    }
    to {
        text-shadow: 0 0 20px #9932CC, 0 0 30px #9932CC, 0 0 40px #9932CC, 0 0 50px #9932CC, 0 0 60px #9932CC, 0 0 70px #9932CC;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, #18041a, #160419, #150417, #130316, #110314, #100313, #0e0211, #0d0210, #0c010f, #0c010f, #0b000e, #0a000d);
    text-align: center;
    padding: 10px 0;
    color: white;
}

#cardContainer {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin-bottom: 20px;
    color: white;
    flex-direction: column;
    padding-bottom: 60px;
    position: relative; /* Facem cardul relativ pentru poziționarea butoanelor */
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#contactUsContent {
    width: 50%; 
    margin: 0 auto;
    color: white;
    text-align: center;
}

/* Added styles */
#filterButtonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: -10px;
}

.filterOption {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Make buttons rounded */
    background-color: #444;
    color: white;
    cursor: pointer;
    margin-top: 5px; /* Add space between buttons */
    width: auto;
    max-width: 150px; /* Set maximum width */
}

.filterOption:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    #filterButtonsContainer {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .filterOption {
        width: 100%;
        text-align: center;
    }
}

.exportButtons {
    position: absolute; /* Poziționăm butoanele absolut în raport cu cardul */
    bottom: 20px; /* Așezăm butoanele la partea de jos a cardului */
    right: 20px; /* Așezăm butoanele în dreapta */
}

.exportButtons button {
    padding: 8px 16px;
    background-color: #161a20;
    border: none;
    color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px; /* Adăugăm margin între butoane */
}

.exportButtons button:last-child {
    margin-right: 0; /* Eliminăm marginul drept pentru ultimul buton */
}
#searchInput {
    width: 20%; /* Lățime completă pentru a se potrivi cu containerul său */
    padding: 8px 12px; /* Padding pentru a face textul mai lizibil */
    border: 1px solid #ccc; /* Border subtil */
    border-radius: 4px; /* Colțuri rotunjite pentru un look modern */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Umbră ușoară pentru adâncime */
    font-size: 16px; /* Mărimea fontului pentru ușurința citirii */
    color: #333; /* Culoare text */
    background-color: #fff; /* Fundal alb */
    margin-bottom: 20px; /* Spațiu dedesubt */
}

#searchInput::placeholder {
    color: #aaa; /* Culoare placeholder */
}

#searchInput:focus {
    border-color: #007bff; /* Schimbă culoarea border-ului la focus */
    outline: none; /* Înlătură outline-ul implicit la focus */
}